{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


  


{%- endstyle -%}

<div class="customer account section-{{ section.id }}-padding">
  <div>
    <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
      </svg>
      {{ 'customer.log_out' | t }}
    </a>
  </div>

  <div>
    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">
                  {{ 'customer.orders.fulfillment_status' | t }}
                </th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                    {% comment %} {{ order.customer_url }} {% endcomment %}
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnFulfillment"
                    role="cell"
                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
  </div>
</div>



{% comment %} Tab switchingsection {% endcomment %}
<div class="custom-account-page">
  <div class="tabs">
    <ul class="tab-links">
      <li onclick="showTab(this,'profile')" class="active">
        <svg width="2rem" height="1.7rem" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000"><path d="M16 7.992C16 3.58 12.416 0 8 0S0 3.58 0 7.992c0 2.43 1.104 4.62 2.832 6.09.016.016.032.016.032.032.144.112.288.224.448.336.08.048.144.111.224.175A7.98 7.98 0 0 0 8.016 16a7.98 7.98 0 0 0 4.48-1.375c.08-.048.144-.111.224-.16.144-.111.304-.223.448-.335.016-.016.032-.016.032-.032 1.696-1.487 2.8-3.676 2.8-6.106zm-8 7.001c-1.504 0-2.88-.48-4.016-1.279.016-.128.048-.255.08-.383a4.17 4.17 0 0 1 .416-.991c.176-.304.384-.576.64-.816.24-.24.528-.463.816-.639.304-.176.624-.304.976-.4A4.15 4.15 0 0 1 8 10.342a4.185 4.185 0 0 1 2.928 1.166c.368.368.656.8.864 1.295.112.288.192.592.24.911A7.03 7.03 0 0 1 8 14.993zm-2.448-7.4a2.49 2.49 0 0 1-.208-1.024c0-.351.064-.703.208-1.023.144-.32.336-.607.576-.847.24-.24.528-.431.848-.575.32-.144.672-.208 1.024-.208.368 0 .704.064 1.024.208.32.144.608.336.848.575.24.24.432.528.576.847.144.32.208.672.208 1.023 0 .368-.064.704-.208 1.023a2.84 2.84 0 0 1-.576.848 2.84 2.84 0 0 1-.848.575 2.715 2.715 0 0 1-2.064 0 2.84 2.84 0 0 1-.848-.575 2.526 2.526 0 0 1-.56-.848zm7.424 5.306c0-.032-.016-.048-.016-.08a5.22 5.22 0 0 0-.688-1.406 4.883 4.883 0 0 0-1.088-1.135 5.207 5.207 0 0 0-1.04-.608 2.82 2.82 0 0 0 .464-.383 4.2 4.2 0 0 0 .624-.784 3.624 3.624 0 0 0 .528-1.934 3.71 3.71 0 0 0-.288-1.47 3.799 3.799 0 0 0-.816-1.199 3.845 3.845 0 0 0-1.2-.8 3.72 3.72 0 0 0-1.472-.287 3.72 3.72 0 0 0-1.472.288 3.631 3.631 0 0 0-1.2.815 3.84 3.84 0 0 0-.8 1.199 3.71 3.71 0 0 0-.288 1.47c0 .352.048.688.144 1.007.096.336.224.64.4.927.16.288.384.544.624.784.144.144.304.271.48.383a5.12 5.12 0 0 0-1.04.624c-.416.32-.784.703-1.088 1.119a4.999 4.999 0 0 0-.688 1.406c-.016.032-.016.064-.016.08C1.776 11.636.992 9.91.992 7.992.992 4.14 4.144.991 8 .991s7.008 3.149 7.008 7.001a6.96 6.96 0 0 1-2.032 4.907z"/></svg>
        Profile</li>
      <li onclick="showTab(this,'orders')">
        <svg fill="#000000" width="2rem" height="2rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.49,7.52a.19.19,0,0,1,0-.08.17.17,0,0,1,0-.07l0-.09-.06-.15,0,0h0l0,0,0,0a.48.48,0,0,0-.09-.11l-.09-.08h0l-.05,0,0,0L16.26,4.45h0l-3.72-2.3A.85.85,0,0,0,12.25,2h-.08a.82.82,0,0,0-.27,0h-.1a1.13,1.13,0,0,0-.33.13L4,6.78l-.09.07-.09.08L3.72,7l-.05.06,0,0-.06.15,0,.09v.06a.69.69,0,0,0,0,.2v8.73a1,1,0,0,0,.47.85l7.5,4.64h0l0,0,.15.06.08,0a.86.86,0,0,0,.52,0l.08,0,.15-.06,0,0h0L20,17.21a1,1,0,0,0,.47-.85V7.63S20.49,7.56,20.49,7.52ZM12,4.17l1.78,1.1L8.19,8.73,6.4,7.63Zm-1,15L5.5,15.81V9.42l5.5,3.4Zm1-8.11L10.09,9.91l5.59-3.47L17.6,7.63Zm6.5,4.72L13,19.2V12.82l5.5-3.4Z"/></svg>
        Orders</li>
      <li onclick="showTab(this,'address-book')">
        <svg width="2rem" height="1.7rem" viewBox="-30 0 162 162" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.5958 120.849C20.9996 122.189 12.5714 124.547 5.89444 130.952C2.54712 134.168 0.878113 138.021 1.20169 141.806C1.51148 145.436 3.66617 148.776 7.26881 151.209C11.1302 153.83 15.3871 155.815 19.8772 157.089C29.6068 159.807 39.6601 161.191 49.7622 161.207C57.3009 161.203 64.8192 160.424 72.1982 158.881C79.3523 157.39 87.632 155.139 94.7599 149.757C98.2037 147.158 100.23 143.963 100.621 140.516C101.015 137.037 99.7388 133.431 96.9271 130.08C93.0042 125.403 87.8171 122.195 81.0693 120.272C78.5444 119.55 75.921 119.068 73.3842 118.6C72.5507 118.446 71.7178 118.293 70.8849 118.13C71.9055 116.539 72.9307 114.954 73.9605 113.376C76.5622 109.372 79.2532 105.231 81.7302 101.058C89.1364 88.5795 97.8591 71.7897 99.5826 52.5642C101.399 32.303 95.0145 17.7991 80.0638 8.22578C69.6937 1.58496 58.122 -0.648498 45.6752 1.59158C26.8567 4.97632 14.5588 15.9805 9.12306 34.2989C5.88275 45.2216 7.06875 56.2665 8.46672 64.6696C10.756 78.4575 15.9286 92.2543 25.2401 109.405C26.6919 112.08 28.2257 114.63 29.8501 117.329C30.4159 118.268 30.983 119.214 31.5514 120.168L30.8295 120.285C29.7019 120.466 28.6426 120.637 27.5958 120.849ZM51.7895 127.563C51.3568 128.123 50.9212 128.686 50.4828 129.255C41.7279 121.787 36.1235 112.24 31.3723 103.015C25.2578 91.1438 18.7232 76.8586 16.6217 60.9068C14.8246 47.255 16.1694 37.1774 20.983 28.221C26.9629 17.0955 38.8498 10.0695 52.7806 9.42563C53.4627 9.39413 54.1411 9.37824 54.8153 9.37824C67.6341 9.37824 78.9684 15.0413 85.4208 24.7656C89.5275 30.9582 91.341 38.1747 91.131 47.475C90.8947 57.8307 88.0317 68.5074 82.1214 81.0723C75.4517 95.2564 66.7415 108.917 55.4939 122.834C54.239 124.385 53.0491 125.928 51.7895 127.563ZM34.7451 125.964C35.4474 125.995 36.1163 126.272 36.6354 126.747C40.5985 131.286 45.5055 134.904 51.0132 137.349C53.4239 138.412 55.5707 137.76 57.3888 135.412L58.6273 133.808C60.3049 131.63 62.0403 129.378 63.8472 127.264C64.3824 126.598 65.1522 126.161 65.9987 126.045C72.1936 126.548 78.7071 127.494 84.3654 130.981C86.7506 132.502 88.8876 134.381 90.7011 136.553C91.0949 136.944 91.404 137.412 91.6107 137.928C91.8175 138.443 91.9173 138.995 91.9035 139.55C91.8083 140.115 91.5989 140.655 91.2885 141.136C90.978 141.618 90.5731 142.032 90.0979 142.353C87.9549 144.058 85.6053 145.486 83.1033 146.602C73.7131 150.772 62.8882 152.85 49.0395 153.14C38.9923 152.77 29.2043 152.177 19.9158 149.047C16.8881 148.059 14.0059 146.671 11.3454 144.921C9.48011 143.663 8.44762 142.193 8.36033 140.668C8.27763 139.231 9.05342 137.771 10.603 136.446C13.9412 133.59 17.6803 131.24 21.7011 129.47C24.9119 128.071 28.4949 127.296 31.9603 126.547C32.809 126.364 33.6577 126.18 34.5004 125.987C34.5809 125.971 34.6629 125.963 34.7451 125.964Z" fill="#000000"/>
          <path d="M71.6559 44.1069C71.6559 43.927 71.6631 43.7473 71.6677 43.5681C71.6999 42.7805 71.6894 41.9917 71.6349 41.2053C71.4085 38.1778 70.4226 35.2566 68.7674 32.7113C67.1127 30.1662 64.8425 28.0794 62.1672 26.6444C59.5673 25.2742 56.6602 24.5922 53.7222 24.6635C50.7844 24.7349 47.9135 25.5573 45.3833 27.0521C39.4106 30.4401 35.6617 36.1457 34.5433 43.5518C33.0908 53.1685 39.9252 62.579 49.7769 64.529C51.1036 64.7941 52.453 64.9289 53.8061 64.9318C62.0976 64.9318 68.8665 59.6438 70.9274 51.0923C71.2463 49.6527 71.4885 48.197 71.6526 46.7316C71.7393 46.072 71.8246 45.4125 71.925 44.7562C71.9388 44.6664 71.9342 44.5746 71.9112 44.4866C71.8889 44.3987 71.8489 44.3162 71.7937 44.244C71.7543 44.1921 71.7077 44.1459 71.6559 44.1069ZM64.2051 44.9052L64.1913 45.1802C64.1775 45.4768 64.1585 45.8771 64.1257 46.2775C63.7812 50.4453 62.2557 53.6883 59.7144 55.6547C57.4546 57.4038 54.4993 58.0227 51.1625 57.4477C49.4206 57.0842 47.7699 56.3732 46.3093 55.357C44.8486 54.3408 43.6079 53.0401 42.6614 51.5333C41.7984 50.1604 41.244 48.6166 41.0368 47.0082C40.8296 45.3998 40.9747 43.7654 41.4617 42.2187C42.7186 37.9282 44.5755 33.7833 49.6102 32.5139C50.8258 32.2002 52.0755 32.0378 53.3309 32.0303C55.7094 31.9733 58.0361 32.7298 59.9263 34.1746C62.7512 36.4088 64.2707 40.22 64.2051 44.9023V44.9052Z" fill="#000000"/>
          </svg>
        Address Book</li>
      <li onclick="showTab(this,'sign-out')"><a href="account/logout">
        <svg fill="#000000" width="2rem" height="2rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z"/></svg>
        Sign Out</a></li>
    </ul>
    <div class="tab-content">
      <div id="profile" class="tab">
        <h3 class="profile-title">Hi {{ customer.name }},Not {{ customer.name }}  <a href="/account/logout">Sign out</a></h3>
        <h3>Account Details</h3>
        <table>
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td>{{ customer.name }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ customer.email }}</td>
            </tr>
            <tr>
              <th scope="row">Address</th>
              <td>{{ customer.default_address | format_address }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="orders" class="tab">
        <table>
          <thead>
            <tr>
              <th scope="col">Order</th>
              <th scope="col">Date</th>
              <th scope="col">Payment status</th>
              <th scope="col">Fulfillment status</th>
              <th scope="col">total</th>
            </tr>
          </thead>
          <tbody>
            {%- for order in customer.orders -%}
              <tr role="row">
                <td
                  id="RowOrder"
                  role="cell"
                  headers="ColumnOrder"
                  data-label="{{ 'customer.orders.order_number' | t }}"
                >
                  <a
                    href="{{ order.customer_url }}"
                    aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                  >
                    {{ order.name | capitalize }}
                  </a>
                </td>
                <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                  {{ order.created_at | time_tag: format: 'date' }}
                </td>
                <td
                  headers="RowOrder ColumnPayment"
                  role="cell"
                  data-label="{{ 'customer.orders.payment_status' | t }}"
                >
                  {{ order.financial_status_label }}
                </td>
                <td
                  headers="RowOrder ColumnFulfillment"
                  role="cell"
                  data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                >
                  {{ order.fulfillment_status_label }}
                </td>
                <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                  {{ order.total_net_amount | money_with_currency }}
                </td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>
      <div id="address-book" class="tab">
        <button class="button add-address" onclick="showForm()">+ Add New Nddress</button>
                <!--adress form-->
                <div class="customer addresses section-{{ section.id }}-padding" id="custom-address-form" data-customer-addresses>
                  <div data-address>
                    <div id="AddAddress" class="show">
                      <h2 id="AddressNewHeading">
                        <svg width="2rem" height="1.7rem" viewBox="-30 0 162 162" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M27.5958 120.849C20.9996 122.189 12.5714 124.547 5.89444 130.952C2.54712 134.168 0.878113 138.021 1.20169 141.806C1.51148 145.436 3.66617 148.776 7.26881 151.209C11.1302 153.83 15.3871 155.815 19.8772 157.089C29.6068 159.807 39.6601 161.191 49.7622 161.207C57.3009 161.203 64.8192 160.424 72.1982 158.881C79.3523 157.39 87.632 155.139 94.7599 149.757C98.2037 147.158 100.23 143.963 100.621 140.516C101.015 137.037 99.7388 133.431 96.9271 130.08C93.0042 125.403 87.8171 122.195 81.0693 120.272C78.5444 119.55 75.921 119.068 73.3842 118.6C72.5507 118.446 71.7178 118.293 70.8849 118.13C71.9055 116.539 72.9307 114.954 73.9605 113.376C76.5622 109.372 79.2532 105.231 81.7302 101.058C89.1364 88.5795 97.8591 71.7897 99.5826 52.5642C101.399 32.303 95.0145 17.7991 80.0638 8.22578C69.6937 1.58496 58.122 -0.648498 45.6752 1.59158C26.8567 4.97632 14.5588 15.9805 9.12306 34.2989C5.88275 45.2216 7.06875 56.2665 8.46672 64.6696C10.756 78.4575 15.9286 92.2543 25.2401 109.405C26.6919 112.08 28.2257 114.63 29.8501 117.329C30.4159 118.268 30.983 119.214 31.5514 120.168L30.8295 120.285C29.7019 120.466 28.6426 120.637 27.5958 120.849ZM51.7895 127.563C51.3568 128.123 50.9212 128.686 50.4828 129.255C41.7279 121.787 36.1235 112.24 31.3723 103.015C25.2578 91.1438 18.7232 76.8586 16.6217 60.9068C14.8246 47.255 16.1694 37.1774 20.983 28.221C26.9629 17.0955 38.8498 10.0695 52.7806 9.42563C53.4627 9.39413 54.1411 9.37824 54.8153 9.37824C67.6341 9.37824 78.9684 15.0413 85.4208 24.7656C89.5275 30.9582 91.341 38.1747 91.131 47.475C90.8947 57.8307 88.0317 68.5074 82.1214 81.0723C75.4517 95.2564 66.7415 108.917 55.4939 122.834C54.239 124.385 53.0491 125.928 51.7895 127.563ZM34.7451 125.964C35.4474 125.995 36.1163 126.272 36.6354 126.747C40.5985 131.286 45.5055 134.904 51.0132 137.349C53.4239 138.412 55.5707 137.76 57.3888 135.412L58.6273 133.808C60.3049 131.63 62.0403 129.378 63.8472 127.264C64.3824 126.598 65.1522 126.161 65.9987 126.045C72.1936 126.548 78.7071 127.494 84.3654 130.981C86.7506 132.502 88.8876 134.381 90.7011 136.553C91.0949 136.944 91.404 137.412 91.6107 137.928C91.8175 138.443 91.9173 138.995 91.9035 139.55C91.8083 140.115 91.5989 140.655 91.2885 141.136C90.978 141.618 90.5731 142.032 90.0979 142.353C87.9549 144.058 85.6053 145.486 83.1033 146.602C73.7131 150.772 62.8882 152.85 49.0395 153.14C38.9923 152.77 29.2043 152.177 19.9158 149.047C16.8881 148.059 14.0059 146.671 11.3454 144.921C9.48011 143.663 8.44762 142.193 8.36033 140.668C8.27763 139.231 9.05342 137.771 10.603 136.446C13.9412 133.59 17.6803 131.24 21.7011 129.47C24.9119 128.071 28.4949 127.296 31.9603 126.547C32.809 126.364 33.6577 126.18 34.5004 125.987C34.5809 125.971 34.6629 125.963 34.7451 125.964Z" fill="#000000"/>
                          <path d="M71.6559 44.1069C71.6559 43.927 71.6631 43.7473 71.6677 43.5681C71.6999 42.7805 71.6894 41.9917 71.6349 41.2053C71.4085 38.1778 70.4226 35.2566 68.7674 32.7113C67.1127 30.1662 64.8425 28.0794 62.1672 26.6444C59.5673 25.2742 56.6602 24.5922 53.7222 24.6635C50.7844 24.7349 47.9135 25.5573 45.3833 27.0521C39.4106 30.4401 35.6617 36.1457 34.5433 43.5518C33.0908 53.1685 39.9252 62.579 49.7769 64.529C51.1036 64.7941 52.453 64.9289 53.8061 64.9318C62.0976 64.9318 68.8665 59.6438 70.9274 51.0923C71.2463 49.6527 71.4885 48.197 71.6526 46.7316C71.7393 46.072 71.8246 45.4125 71.925 44.7562C71.9388 44.6664 71.9342 44.5746 71.9112 44.4866C71.8889 44.3987 71.8489 44.3162 71.7937 44.244C71.7543 44.1921 71.7077 44.1459 71.6559 44.1069ZM64.2051 44.9052L64.1913 45.1802C64.1775 45.4768 64.1585 45.8771 64.1257 46.2775C63.7812 50.4453 62.2557 53.6883 59.7144 55.6547C57.4546 57.4038 54.4993 58.0227 51.1625 57.4477C49.4206 57.0842 47.7699 56.3732 46.3093 55.357C44.8486 54.3408 43.6079 53.0401 42.6614 51.5333C41.7984 50.1604 41.244 48.6166 41.0368 47.0082C40.8296 45.3998 40.9747 43.7654 41.4617 42.2187C42.7186 37.9282 44.5755 33.7833 49.6102 32.5139C50.8258 32.2002 52.0755 32.0378 53.3309 32.0303C55.7094 31.9733 58.0361 32.7298 59.9263 34.1746C62.7512 36.4088 64.2707 40.22 64.2051 44.9023V44.9052Z" fill="#000000"/>
                          </svg>
                        Add New Address
                      </h2>
                      {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                        <div class="field">
                          <input
                            type="text"
                            id="AddressFirstNameNew"
                            name="address[first_name]"
                            value="{{ form.first_name }}"
                            autocomplete="given-name"
                            placeholder="{{ 'customer.addresses.first_name' | t }}"
                          >
                          <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                        </div>
                        <div class="field">
                          <input
                            type="text"
                            id="AddressLastNameNew"
                            name="address[last_name]"
                            value="{{ form.last_name }}"
                            autocomplete="family-name"
                            placeholder="{{ 'customer.addresses.last_name' | t }}"
                          >
                          <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                        </div>
                        <div class="field">
                          <input
                            type="text"
                            id="AddressCompanyNew"
                            name="address[company]"
                            value="{{ form.company }}"
                            autocomplete="organization"
                            placeholder="{{ 'customer.addresses.company' | t }}"
                          >
                          <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                        </div>
                        <div class="field">
                          <input
                            type="text"
                            id="AddressAddress1New"
                            name="address[address1]"
                            value="{{ form.address1 }}"
                            autocomplete="address-line1"
                            placeholder="{{ 'customer.addresses.address1' | t }}"
                          >
                          <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                        </div>
                        <div class="field">
                          <input
                            type="text"
                            id="AddressAddress2New"
                            name="address[address2]"
                            value="{{ form.address2 }}"
                            autocomplete="address-line2"
                            placeholder="{{ 'customer.addresses.address2' | t }}"
                          >
                          <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                        </div>
                        <div class="field">
                          <input
                            type="text"
                            id="AddressCityNew"
                            name="address[city]"
                            value="{{ form.city }}"
                            autocomplete="address-level2"
                            placeholder="{{ 'customer.addresses.city' | t }}"
                          >
                          <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                        </div>
                        <div>
                          <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                          <div class="select">
                            <select
                              id="AddressCountryNew"
                              name="address[country]"
                              data-default="{{ form.country }}"
                              autocomplete="country"
                            >
                              {{ all_country_option_tags }}
                            </select>
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                            </svg>
                          </div>
                        </div>
                        <div id="AddressProvinceContainerNew" style="display: none">
                          <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                          <div class="select">
                            <select
                              id="AddressProvinceNew"
                              name="address[province]"
                              data-default="{{ form.province }}"
                              autocomplete="address-level1"
                            ></select>
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                            </svg>
                          </div>
                        </div>
                        <div class="field">
                          <input
                            type="text"
                            id="AddressZipNew"
                            name="address[zip]"
                            value="{{ form.zip }}"
                            autocapitalize="characters"
                            autocomplete="postal-code"
                            placeholder="{{ 'customer.addresses.zip' | t }}"
                          >
                          <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                        </div>
                        <div class="field">
                          <input
                            type="tel"
                            id="AddressPhoneNew"
                            name="address[phone]"
                            value="{{ form.phone }}"
                            autocomplete="tel"
                            placeholder="{{ 'customer.addresses.phone' | t }}"
                          >
                          <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                        </div>
                        <div>
                          {{ form.set_as_default_checkbox }}
                          <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                        </div>
                        <div class="save-address-button-div">
                          <button class="save-address-button-div--save">{{ 'customer.addresses.add' | t }}</button>
                          <button type="reset" class="save-address-button-div--cancle" onclick="showForm()">{{ 'customer.addresses.cancel' | t }}</button>
                        </div>
                      {%- endform -%}
                    </div>
                  </div>
                </div>
                <!--address form-->


        <div class="all-address">
          {% for address in customer.addresses %}
            <div>
              <h2>address {{ forloop.index }}</h2>
              {{ address | format_address }}
            </div>   
          {% endfor %} 
        </div>
      </div>
      <div id="sign-out" class="tab">Sign Out Content</div>
    </div>
  </div>
</div>


<script>
  document.getElementById("profile").style.display = 'block';
  function showTab(tabElement, tabName) {
    var tabs = document.getElementsByClassName('tab');
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].style.display = 'none';
    }
    document.getElementById(tabName).style.display = 'block';

    var tabLinks = document.querySelectorAll('.tab-links li');
    for (var i = 0; i < tabLinks.length; i++) {
      tabLinks[i].classList.remove('active');
    }
    tabElement.classList.add('active');
  }

  function showForm(){
    document.getElementById("AddAddress").classList.toggle("show");
    document.querySelector(".add-address").classList.toggle("show");
  }


</script>








{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
