{{ "week6-subscibe.css" | asset_url | stylesheet_tag }}

{% style %}
    .custom-padding--{{ section.id }}{
        padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
        padding-bottom: {{ section.settings.padding_bottom | divided_by: 2  }}px;
    }
    @media screen and (min-width: 749px){
        .custom-padding--{{ section.id }}{
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="testimonial-newsletter custom-padding--{{ section.id }}">
    {%- if section.settings.newsletter_heading != blank -%}
      <h2 class="inline-richtext">{{ section.settings.newsletter_heading }}</h2>
    {%- endif -%}
    {%- form 'customer' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="testimonial-newsletter-form">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class=""
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="ContactFooter-error"
            {% elsif form.posted_successfully? %}
              aria-describedby="ContactFooter-success"
            {% endif %}
            placeholder="Email Address"
            required
          >
          <button
            type="submit"
            class="testimonial-newsletter-btn"
            name="commit"
            id="Subscribe"
            aria-label="Subscribe"
          >
            {{ section.settings.button_label }}
          </button>
      </div>
    {%- endform -%}
  </div>

{% schema %}
    {
        "name": "Newsletter custom",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type": "text",
                "id": "newsletter_heading",
                "label": "Heading",
                "default": "Subscribe to Our Newsletter"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button label",
                "default": "Subscribe"
            },
            {
                "type": "header",
                "content": "Section padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "Padding top",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "Padding bottom",
                "default": 30
            }
        ],
        "presets": [
            {
                "name": "Newsletter custom"
            }
        ]
    }
{% endschema %}