{{ "custom-hotspot-week7.css" | asset_url | stylesheet_tag }}
<script src="{{ "compoent-slide.js"  | asset_url }}" defer></script>
{% style %}
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
    {% for block in section.blocks %}
    .shop-the-look-primary-{{ block.id }} {
      position:absolute;
      top:{{block.settings.primary_top_position}}%;
      left:{{block.settings.primary_left_position}}%;
      z-index:1;
    }
    .shop-the-look-secondary-{{ block.id }} {
      position:absolute;
      top:{{block.settings.secondary_top_position}}%;
      left:{{block.settings.secondary_left_position}}%;
      z-index:1;
    }
    .shop-the-look-third-{{ block.id }} {
      position:absolute;
      top:{{block.settings.third_top_position}}%;
      left:{{block.settings.third_left_position}}%;
      z-index:1;
    }
    {% endfor %}
    @media screen and (min-width: 750px) {
        .padding-{{ section.id }} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
    {% for product in section.settings.product_list %}
  .rating-{{ product.id }}:before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(90deg, #FFAA47 calc({{product.metafields.custom.ratings}}/5 * 100%), #E1E1E1 calc({{product.metafields.custom.ratings}}/5 * 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .rating-{{ product.id }} {
        font-size: 2rem;
        display:block !important;
    }
    {% endfor %}
{% endstyle %}
{% liquid
  assign autoPlay=section.settings.auto_play
  assign type = section.settings.Slide_animation
  assign pagination = section.settings.show_pagination
  assign perpage = section.settings.perpage
  assign gap = section.settings.gap
%}
{%- capture splide_option -%}
{
  "type": "{{ type }}",
  "pagination": {{ pagination }},
  "perPage":{{ perpage }},
  "autoplay":{{ autoPlay }},
  "gap":{{gap}}
}
{% endcapture %}
<div class=" customweekhotspot  shop-the-look padding-{{ section.id }}">
    <div class="custom-hotspotsecions">
      <div class="shop-the-look--box">
            <div class="shop-the-look__poster">
                {% for block in section.blocks %}
              <div class="shop-the-look_dots  shop-the-look-primary-{{ block.id }}">
                  <svg class="shop-the-look__dot" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
                      <circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="white"></circle>
                  </svg>
                  {% if block.settings.dot_product != blank %}
                    <div id="hotspot-product" class="shop-the-look__product tr1 hotspot-product">
                    <div class="shop-the-look__product-image">
                      {% render 'responsive-picture', desktopImage:block.settings.dot_product.featured_image %}
                    </div>
                    <div class="shop-the-look-product-details">
                      {% if block.settings.dot_product.title != blank and block.settings.dot_product.url != blank %}
                        <h2 class="h5">
                          <a href="{{ block.settings.dot_product.url }}">
                          {{ block.settings.dot_product.title }}
                          </a>
                        </h2>
                      {% endif %}
                      <div class="product-card__prices">
                        {% if block.settings.dot_product.compare_at_price !=blank %}
                          <s class="product-card__price-amount">{{block.settings.dot_product.compare_at_price | money }}</s>
                        {% endif %} 
                        {% if block.settings.dot_product.price != blank %}
                          <span class="product-card__price-amount">{{ block.settings.dot_product.price | money }}</span>                    
                        {% endif %}
                    </div> 
                      <form action="/cart/add" method="post">
                        <input type="hidden" name="id" value="{{ block.settings.dot_product.variants.first.id }}">
                        <button type="submit" class="btn btn--small">Add to bag</button>
                    </form>
                    </div>
                    </div>
                  {% endif %}
              </div>
              {% endfor %}
              {% if section.settings.desktop_image != blank %}
                <div class="media">
                  {% render 'responsive-picture', desktopImage:section.settings.desktop_image %}
                </div>
              {% else %}
                <div class="media">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {% endif %}
            </div>
      </div>


      {% comment %} slider {% endcomment %}
      <div class="product-card-container">
        <splider-component >
          <div  class="splide" data-slider-settings='{{ splide_option }}'>
            <div class="splide__track">
              <ul class="splide__list">
                {% for product in section.settings.product_list %}
                  <li class="splide__slide ">
                    {% render
                      "product-card", product:product
                    %}

                  </li>
    
                {% endfor %}
              </ul>
            </div>
          </div>
        </splider-component>
      </div>


    </div>
  </div>
  
  {% schema %}
  {
    "name": "Hotspot section",
    "tag":"section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Main image"
      },
      {
        "type": "image_picker",
        "id":"desktop_image",
        "label": "Desktop Image"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Product list"
      },
      {
        "type": "checkbox",
        "id":"auto_play",
        "label":"Enable auto play",
        "default":false
      },
      {
        "type": "checkbox",
        "id":"show_pagination",
        "label":"Show dots",
        "default":false
      },
      {
        "type": "checkbox",
        "id":"show_arrows",
        "label":"Show arrows",
        "default":false
      },
      {
        "type": "range",
        "id": "auto_play_duration",
        "min": 1000,
        "max": 5000,
        "step": 1000,
        "unit": "sec",
        "label": "Autoplay duration",
        "default": 2000
      },
      {
        "type": "range",
        "id": "perpage",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Perpage",
        "default": 2
      },
      {
        "type": "range",
        "id": "gap",
        "min": 5,
        "max": 40,
        "step": 5,
        "label": "Gap",
        "default": 5
      },
      {
        "type": "select",
        "id": "Slide_animation",
        "label": "Slide animation",
        "options": [
            {
                "value": "fade",
                "label": "Fade"
            },
            {
                "value": "slide",
                "label": "Slide"
            },
            {
                "value": "loop",
                "label": "Loop"
            }
        ],
        "default": "slide"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 30
      }
    ],
    "blocks": [
      {
          "name": "Block",
          "type": "Dots",
          "settings": [
              {
                  "type": "header",
                  "content":"Dot position"
              },
              {
                  "type": "range",
                  "id":"primary_left_position",
                  "label": "Distance from left",
                  "min":0,
                  "max":100,
                  "step": 1,
                  "default":20,
                  "info": "Distance is measured in percentage(%)"
              },
              {
                  "type": "range",
                  "id":"primary_top_position",
                  "label": "Distance from top",
                  "min":0,
                  "max":100,
                  "step": 1,
                  "default":20,
                  "info": "Distance is measured in percentage(%)"
              },
              {
                  "type": "header",
                  "content":"Product"
              },
              {
                "type": "product",
                "id": "dot_product",
                "label": "Product"
              }
          ]
      }
  ],
    "presets": [
      {
        "name": "Hotspot section"
      }
    ]
  }
{% endschema %}