{{ "custom-hotspot-week7.css" | asset_url | stylesheet_tag }}
<script src="{{ "compoent-slide.js"  | asset_url }}" defer></script>
{% liquid
    assign autoPlay=section.settings.auto_play
    assign type = section.settings.Slide_animation
    assign pagination = section.settings.show_pagination
    assign perpage = section.settings.perpage
    assign gap = section.settings.gap
  %}
  {%- capture splide_option -%}
  {
    "type": "{{ type }}",
    "pagination": {{ pagination }},
    "perPage":{{ perpage }},
    "autoplay":{{ autoPlay }},
    "gap":{{gap}}
  }
  {% endcapture %}
{% style %}
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    {% for block in section.blocks %}
    .shop-the-look-primary-{{ block.id }} {
      position:absolute;
      top:{{block.settings.primary_top_position}}%;
      left:{{block.settings.primary_left_position}}%;
      z-index:1;
    }
    .shop-the-look-secondary-{{ block.id }} {
      position:absolute;
      top:{{block.settings.secondary_top_position}}%;
      left:{{block.settings.secondary_left_position}}%;
      z-index:1;
    }
    .shop-the-look-third-{{ block.id }} {
      position:absolute;
      top:{{block.settings.third_top_position}}%;
      left:{{block.settings.third_left_position}}%;
      z-index:1;
    }
    {% endfor %}

    @media screen and (min-width: 750px) {
        .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="shop-the-look padding-{{ section.id }}">
    <div class="page-width">
      <div class="shop-the-look__grid">
        {% for block in section.blocks %}
          <div class="">
            <div class="shop-the-look__image">
              <div class="shop-the-look__dots shop-the-look-primary-{{ block.id }}">
                  <svg class="shop-the-look__dot" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
                      <circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="currentColor"></circle>
                  </svg>
                  {% if block.settings.primary_product != blank %}
                    <div class="shop-the-look__product tr1">
                    <div class="shop-the-look__product-image">
                      {% render 'responsive-picture', desktopImage:block.settings.primary_product.featured_image %}
                    </div>
                    <div class="shop-the-look-product-details">
                      {% if block.settings.primary_product.title != blank and block.settings.primary_product.url != blank %}
                        <h2 class="h5">
                          <a href="{{ block.settings.primary_product.url }}">
                          {{ block.settings.primary_product.title }}
                          </a>
                        </h2>
                      {% endif %}
                    
                      {% if block.settings.primary_product.price != blank %}
                        <s>{{ block.settings.primary_product.price | money_without_trailing_zeros }}.00</s>                    
                      {% endif %}

                      <div>
                        <a href="{{ block.settings.primary_product.url }}" class="view-product">
                            View Product 
                            <span><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5 5L1 9" stroke="#8d5d48" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></span>
                          </a>
                    </div>
                    </div>
                    </div>
                  {% endif %}
              </div>

              <div class="shop-the-look__dots shop-the-look-secondary-{{ block.id }}">
                  <svg class="shop-the-look__dot" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
                      <circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="currentColor"></circle>
                  </svg>
                  {% if block.settings.secondary_product != blank %}
                    <div class="shop-the-look__product tr2">
                    <div class="shop-the-look__product-image">
                      {% render 'responsive-picture', desktopImage:block.settings.secondary_product.featured_image %}
                    </div>
                    <div class="shop-the-look-product-details">
                      {% if block.settings.secondary_product.title != blank and block.settings.secondary_product.url != blank %}
                        <h2 class="h5">
                          <a href="{{ block.settings.secondary_product.url }}">
                          {{ block.settings.secondary_product.title }}
                          </a>
                        </h2>
                      {% endif %}

                      {% if block.settings.secondary_product.price != blank %}
                        <s>{{ block.settings.secondary_product.price | money_without_trailing_zeros }}.00</s>                    
                      {% endif %}

                      <div>
                        <a href="{{ block.settings.secondary_product.url }}" class="view-product">
                            View Product 
                            <span><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5 5L1 9" stroke="#8d5d48" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></span>
                          </a>
                    </div>
                    </div>
                    </div>
                  {% endif %}
              </div>

              <div class="shop-the-look__dots shop-the-look-third-{{ block.id }}">
                  <svg class="shop-the-look__dot" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
                      <circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="currentColor"></circle>
                  </svg>
                  {% if block.settings.third_product != blank %}
                    <div class="shop-the-look__product tr3">
                    <div class="shop-the-look__product-image">
                      {% render 'responsive-picture', desktopImage:block.settings.third_product.featured_image %}
                    </div>
                    <div class="shop-the-look-product-details">
                      {% if block.settings.third_product.title != blank and block.settings.third_product.url != blank %}
                        <h2 class="h5">
                          <a href="{{ block.settings.third_product.url }}">
                          {{ block.settings.third_product.title }}
                          </a>
                        </h2>
                      {% endif %}

                      {% if block.settings.third_product.price != blank %}
                        <s>{{ block.settings.third_product.price | money_without_trailing_zeros }}.00</s>                    
                      {% endif %}

                      <div>
                        <a href="{{ block.settings.third_product.url }}" class="view-product">
                            View Product 
                            <span><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5 5L1 9" stroke="#8d5d48" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></span>
                          </a>
                    </div>
                    </div>
                    </div>
                  {% endif %}
              </div>

              {% if block.settings.desktop_image != blank %}
                <div class="media media--portrait">
                  {% render 'responsive-picture', desktopImage:block.settings.desktop_image %}
                </div>
              {% else %}
                <div class="media media--portrait">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {% endif %}
            </div>
            
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="product-card-container">
    <splider-component >
      <div class="splide" data-slider-settings='{{ splide_option }}'>
        <div class="splide__track">
          <ul class="splide__list">
            {% for product in section.settings.product_list %}
              <li class="splide__slide ">
                {% render
                  "product-card", product:product
                %}
              </li>

            {% endfor %}
          </ul>
        </div>
      </div>
    </splider-component>
  </div>

  {% schema %}
  {
    "name": "Hotspot section",
    "tag":"section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Product list"
      },
      {
        "type": "checkbox",
        "id":"auto_play",
        "label":"Enable auto play",
        "default":false
      },
      {
        "type": "checkbox",
        "id":"show_pagination",
        "label":"Show dots",
        "default":false
      },
      {
        "type": "checkbox",
        "id":"show_arrows",
        "label":"Show arrows",
        "default":false
      },
      {
        "type": "range",
        "id": "auto_play_duration",
        "min": 1000,
        "max": 5000,
        "step": 1000,
        "unit": "sec",
        "label": "Autoplay duration",
        "default": 2000
      },
      {
        "type": "range",
        "id": "perpage",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Perpage",
        "default": 2
      },
      {
        "type": "range",
        "id": "gap",
        "min": 5,
        "max": 40,
        "step": 5,
        "label": "Gap",
        "default": 5
      },
      {
        "type": "select",
        "id": "Slide_animation",
        "label": "Slide animation",
        "options": [
            {
                "value": "fade",
                "label": "Fade"
            },
            {
                "value": "slide",
                "label": "Slide"
            },
            {
                "value": "loop",
                "label": "Loop"
            }
        ],
        "default": "slide"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 30
      }
    ],
    "blocks": [
      {
        "name":"Hotspot block",
        "type": "product",
        "settings": [
          {
            "type": "header",
            "content":"Product"
          },
          {
            "type": "image_picker",
            "id":"desktop_image",
            "label": "Desktop Image",
            "info": "Recommended size: 1440 x 600 px"
          },
          {
            "type": "header",
            "content":"First Dot"
          },
          {
            "type": "range",
            "id":"primary_left_position",
            "label": "Distance from left",
            "min":0,
            "max":100,
            "step": 1,
            "default":20,
            "info": "Distance is measured in percentage(%)"
        },
        {
            "type": "range",
            "id":"primary_top_position",
            "label": "Distance from top",
            "min":0,
            "max":100,
            "step": 1,
            "default":20,
            "info": "Distance is measured in percentage(%)"
        },
        {
          "type": "product",
          "id": "primary_product",
          "label": "First Product"
        },
        {
          "type": "header",
          "content":"Second Dot"
        },
        {
            "type": "range",
            "id":"secondary_left_position",
            "label": "Distance from left",
            "min":10,
            "max":100,
            "step": 1,
            "default":20,
            "info": "Distance is measured in percentage(%)"
        },
        {
            "type": "range",
            "id":"secondary_top_position",
            "label": "Distance from top",
            "min":10,
            "max":100,
            "step": 1,
            "default":20,
            "info": "Distance is measured in percentage(%)"
        },
        {
          "type": "product",
          "id": "secondary_product",
          "label": "Second Product"
        },
        {
          "type": "header",
          "content":"Third Dot"
        },
        {
            "type": "range",
            "id":"third_left_position",
            "label": "Distance from left",
            "min":10,
            "max":100,
            "step": 1,
            "default":20,
            "info": "Distance is measured in percentage(%)"
        },
        {
            "type": "range",
            "id":"third_top_position",
            "label": "Distance from top",
            "min":10,
            "max":100,
            "step": 1,
            "default":20,
            "info": "Distance is measured in percentage(%)"
        },
        {
          "type": "product",
          "id": "third_product",
          "label": "Third Product"
        }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hotspot section"
      }
    ]
  }
{% endschema %}