{% style %}
  .custom-padding--{{ section.id }}{
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2  }}px;
  }
  .active-slide{
        background: {{ section.blocks.first.settings.color_active }};
    }
  /* mobile first approach */
  @media screen and (min-width: 749px){
      .custom-padding--{{ section.id }}{
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
{% endstyle %}

{{ 'week-6slide.css' | asset_url | stylesheet_tag }}
<script src="{{ "compoent-slide.js"  | asset_url }}" defer></script>
{% liquid
  assign type = section.settings.Slide_animation
  assign pagination = section.settings.show_pagination
  assign arrows = section.settings.show_arrows
 
%}

{%- capture splide_option -%}

  {
    "type": "{{ type }}",
    "pagination": {{ pagination }},
    "arrows": {{ arrows }},
    "per_page":2,
    "breakpoints" : {
        "768": {
          "perPage": 1
        },
        "480": {
          "perPage": 1
        }
      }
  }
  {%- endcapture -%}
  {% if customer%}

<div class="mainweek-flex ">
  <div class="imageflexgrow">
    {% for block in section.blocks %}
    <img
      src="{{ block.settings.desktop_image | image_url }}"
      alt="Slide Image"
      height=""
      width=""
      class="desktopimgaes"
    >
        {% endfor %}
  </div>
  

  <splider-component>
    <div class="headerdescriptionweek">
      {% if section.settings.Custom_heading_week != blank %}
        <h1 class="custom_heading_author">{{ section.settings.Custom_heading_week }}</h1>
        {% endif %}
      {% if section.settings.custom_desciption_week != blank %}     
          <p class="sectiondescription">{{ section.settings.custom_desciption_week }}</p>
        {% endif %}
    </div>
   

    <div class="topslide--weekslide splide" data-slider-settings='{{ splide_option }}'>
      <div class="splide__track">
        <ul class="splide__list">
          {% for block in section.blocks %}
            <li class=" weekslideuages splide__slide">
              <div class="splide-content-blog splide-content">
               {% if block.settings.testimonals_header != blank %} 
                  <p>{{ block.settings.testimonals_header }}</p>
                {% endif %}
                <div class="glowflexview">
                  <div class="imageviewpointflex">
                    <img
                      src="{{ block.settings.testimonals_image | image_url }}"
                      alt="Slide Image"
                      height="200px"
                      width="200px"
                    >
                    <div class="author_fieldheader">
                   {% if  block.settings.testimonals_author_name != blank %}
                    <p>{{ block.settings.testimonals_author_name }}</p>
                   {% endif %}
                      {% if  block.settings.testimonals_author_description != blank %}
                      <p>{{ block.settings.testimonals_author_description }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </splider-component>
</div>
{% else  %}
<div class="Login_button_view">
  <h1>Please Log In to view!</h1>
  <a href="/account/login" class="login-button-user">Login</a>
</div>
{% endif %}

{% schema %}
{
  "name": "Week-6 Custom Slide",
  "tag": "section",
  "class": "Section",
  "settings": [
    {
      "type": "text",
      "id": "Custom_heading_week",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
      "type": "richtext",
      "id": "custom_desciption_week",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
    },

    {
      "type": "color_background",
      "id": "color_week_background",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
        "type": "header",
        "content": "Animation options"
      },
      {
        "type": "select",
        "id": "Slide_animation",
        "label": "Slide animation",
        "options": [
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "slide",
            "label": "slide"
          },
          {
            "value": "loop",
            "label": "Loop"
          }
        ],
        "default": "slide"
      },
      {
        "type": "checkbox",
        "id": "show_pagination",
        "label": "Show dots",
        "default": true
      },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show Arrows",
      "default": false
    },
    {
      "type": "range",
      "id": "auto_play_duration",
      "label": "Autoplay duration",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "unit": "ms",
      "default": 2000
    },
    {
      "type": "range",
      "id": "per_page",
      "label": "perpage",
      "min": 1,
      "max": 5,
      "step": 0.5,
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Animation Options"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animations",
      "default": "fade",
      "options": [
        {
          "value": "fade",
          "label": "fade"
        },
        {
          "value": "loop",
          "label": "loop"
        },
        {
          "value": "slide",
          "label": "slide"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "Slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Media positions"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "desktop_image",
          "info": "Recommended size :1360  x 633 px."
        },
        {
          "type": "image_picker",
          "id": "testimonals_image",
          "label": "testimonals_image",
          "info": "Recommended size :1360  x 633 px."
        },
        {
          "type": "richtext",
          "id": "testimonals_header",
          "label": "headers",
          "default": "<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>"
        },
        {
          "type": "text",
          "id": "testimonals_author_name",
          "label": "authorname",
          "default": "<p>Mr.Jhon Doe</p>"
        },
        {
          "type": "richtext",
          "id": "testimonals_author_description",
          "label": "authordescription",
          "default": "<p>Clients</p>"
        },
        {
          "type": "header",
          "content": "BackgroundActive"
        },
        {
          "type": "color_background",
          "id": "color_active",
          "label": "Backgroundactive"
        },
        {
          "type": "header",
          "content": "BackgroundNormal"
        },
        {
          "type": "color_background",
          "id": "color_normal",
          "label": "Backgroundnormal"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Week-6 Custom Slide"
    }
  ]
}
{% endschema %}
